{include file="inc/header" /}
<div class="container-body">
    <header>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_setting">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe614;</i>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_upload">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe681;</i>
                </a>
            </li>
        </ul>
    </header>
</div>
{include file="inc/footer" /}
