{include file="inc/header" /}
<div class="container-header">
    <header>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_setting">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe614;</i>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_upload">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe681;</i>
                </a>
            </li>
        </ul>
    </header>
</div>
<div class="container-body">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div class="layui-panel layui-container-extend layui-form layui-anim layui-anim-upbit" id="mainlist" v-cloak>
                    <div class="layui-loading-mask">
                        <div class="layui-loading-spinner">
                            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 50px;"></i>
                            <p class="layui-loading-text">拼命加载中</p>
                        </div>
                    </div>
                    <span class="layui-breadcrumb">
                      <a v-if="navbar === ''" href="">首页</a>
                      <a v-else href="javascript:history.go(-1);"><i class="layui-icon">&#xe603;</i> 返回上一级</a>
                    </span>
                    <table class="layui-table" lay-even lay-skin="nob">
                        <colgroup>
                            <col width="82%">
                            <col width="18%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>文件名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in post">
                            <td v-if="item.source_url">
                                <a v-if="cdn === 'on'" href="javascript:;" :name="item.access_url" class="preview_file" @click="previewFile">{{ item.name }}</a>
                                <a v-else href="javascript:;" :name="item.source_url" class="preview_file" @click="previewFile">{{ item.name }}</a>
                            </td>
                            <td v-else>
                                <i class="layui-icon">&#xe622;</i>
                                <a href="javascript:;" value="d" :name="item.name" @click="openFolder">{{ item.name }}</a>
                            </td>
                            <td v-if="item.source_url">
                                <button class="layui-btn layui-btn-mini" @click="delAction" :name="item.name">删除</button>
                            </td>
                            <td v-else>
                                <button class="layui-btn layui-btn-mini" @click="delAction" :name="item.name" value="d">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="inc/footer" /}
