{include file="inc/header" /}
<div class="container-body">
    <header>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_setting">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe614;</i>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="open_upload">
                    <i class="layui-icon"  style="font-size: 26px;">&#xe681;</i>
                </a>
            </li>
        </ul>
    </header>
</div>
<div class="container-body">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div class="layui-panel" id="mainlist">
                    <ul class="layui-list">
                        <table class="layui-table" lay-skin="line">
                            <colgroup>
                                <col width="90%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in post">
                                <td v-if="item.access_url">
                                    <a href="javascript:;" :name="item.name" class="open">{{item.name}}</a>
                                </td>
                                <td v-else>
                                    <i class="layui-icon">&#xe622;</i>
                                    <a href="javascript:;" data-role="open_folder" type="d" :name="item.name" class="open_folder">{{item.name}}</a>
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-mini" type="button">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="inc/footer" /}
