{include file="inc/header" /}
<div class="container-body">
    <div class="layui-container">
        <div class="layui-row">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>拖拽上传</legend>
            </fieldset>

            <div class="layui-upload-drag layui-col-xs12 layui-col-sm12 layui-col-md12" id="upload">
                <div class="upload-container">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="inc/footer" /}